div.intro {
  background-image: url("https://cdn.glitch.com/c6e2fb68-b6fa-497a-8990-4961d0f7a112%2Fd-o-m-i-n-i-k-j-p-w-ygCOdo61k3E-unsplash.jpg?v=1584452959552");
  background-color: black;
  width: 100%;
  height: fill;
  font-size: 35px;
}