<!DOCTYPE html>
<html>
  <title>Riverside Rocks</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/CSS-Mint/2.0.7/css-mint.min.css"
  />
  <link
    rel="icon"
    type="image/png"
    href="https://cdn.glitch.com/bf0767d5-0a69-4254-b815-2eafc67edd33%2FScreenshot%202020-01-18%20at%2011.47.23%20AM.png?v=1581255936266"
  />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <style>
    a {
      color: inherit;
      text-decoration: none;
    }
  </style>
  <header class="cm-header inverted">
    <div class="cm-logo cm-text-large">
      <a
        href="/"
        style="font-size:55px;padding:7px;line-height:-25px;margin:29px;height:200px;"
        >Riverside Rocks</a
      >
    </div>
    <nav class="cm-nav">
      <ul>
        <li>
          <button
            style="background-color:black;font-size:30px;text-decoration:none;border:none;display:inline-block;font-size:24px;"
          >
            <a
              href="/#"
              style="font-size:30px;text-decoration:none;border:none;display:inline-block;padding:12px;font-size:24px;"
              >Home</a
            >
          </button>
        </li>
        <li>
          <button
            style="background-color:black;font-size:30px;text-decoration:none;border:none;display:inline-block;font-size:24px;"
          >
            <a
              href="/#main"
              style="font-size:30px;text-decoration:none;border:none;display:inline-block;padding:12px;font-size:24px;"
              >About</a
            >
          </button>
        </li>
        <li>
          <button
            style="background-color:black;font-size:30px;text-decoration:none;border:none;display:inline-block;font-size:24px;"
          >
            <a
              href="/#work"
              style="font-size:30px;text-decoration:none;border:none;display:inline-block;padding:12px;font-size:24px;"
              >Projects</a
            >
          </button>
        </li>
        <li>
          <button
            style="background-color:black;font-size:30px;text-decoration:none;border:none;display:inline-block;font-size:24px;"
          >
            <a
              href="/#contact"
              style="font-size:30px;text-decoration:none;border:none;display:inline-block;padding:12px;font-size:24px;"
              >Contact</a
            >
          </button>
        </li>
      </ul>
    </nav>
  </header>
  <br />
  <br />
  <center>
    <strong
      ><h1>
      Page can no longer be found or no longer exsists. (HTTP 404)
      </h1>
      <br>
      <br>
      <br>
      <a href="/" style="font-size:30px;">Return Home</a>
    </strong>
  </center>
</html>
