<!DOCTYPE html>
<html>
  <title>Riverside Rocks</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/CSS-Mint/2.0.7/css-mint.min.css"
  />
  <link
    rel="icon"
    type="image/png"
    href="https://cdn.glitch.com/bf0767d5-0a69-4254-b815-2eafc67edd33%2FScreenshot%202020-01-18%20at%2011.47.23%20AM.png?v=1581255936266"
  />
  <link rel="stylesheet" type="text/css" href="/404.css" />
  <style>
    a {
      color: inherit;
    }
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 18px;
    }
    th.text {
      width: 80%;
    }
    table {
      width: 80%;
      border: none;
    }
  </style>
  <header class="cm-header inverted">
    <div class="cm-logo cm-text-large">
      <a
        href="/"
        style="font-size:55px;padding:7px;line-height:-25px;margin:29px;height:200px;"
        >Riverside Rocks</a
      >
    </div>
    <nav class="cm-nav">
      <ul>
        <li>
          <button
            style="background-color:black;font-size:30px;text-decoration:none;border:none;display:inline-block;font-size:24px;"
          >
            <a
              href="/#"
              style="font-size:30px;text-decoration:none;border:none;display:inline-block;padding:12px;font-size:24px;"
              >Home</a
            >
          </button>
        </li>
        <li>
          <button
            style="background-color:black;font-size:30px;text-decoration:none;border:none;display:inline-block;font-size:24px;"
          >
            <a
              href="/#main"
              style="font-size:30px;text-decoration:none;border:none;display:inline-block;padding:12px;font-size:24px;"
              >About</a
            >
          </button>
        </li>
        <li>
          <button
            style="background-color:black;font-size:30px;text-decoration:none;border:none;display:inline-block;font-size:24px;"
          >
            <a
              href="/#work"
              style="font-size:30px;text-decoration:none;border:none;display:inline-block;padding:12px;font-size:24px;"
              >Projects</a
            >
          </button>
        </li>
        <li>
          <button
            style="background-color:black;font-size:30px;text-decoration:none;border:none;display:inline-block;font-size:24px;"
          >
            <a
              href="/#contact"
              style="font-size:30px;text-decoration:none;border:none;display:inline-block;padding:12px;font-size:24px;"
              >Contact</a
            >
          </button>
        </li>
      </ul>
    </nav>
  </header>
  <br />
  <br />
  <center>
    <table>
      <tr>
        <th class="crab">
          <img
            id="crab"
            height="350"
            width="600"
            src="https://cdn.glitch.com/c6e2fb68-b6fa-497a-8990-4961d0f7a112%2FUntitled%20drawing%20(1).png?v=1587767968915"
          />
        </th>
        <th class="txt">
          <h2 id="text">
            Oh No!
          </h2>
          <p>
            A pack of wild hirmits broke into the server room!
            Don't worry, we are getting it under control!
            <br />
            Until then, maybe go <a href="/">home?</a>
          </p>
          <i>HTTP 404</i>
        </th>
      </tr>
    </table>
  </center>
</html>
